.header {
  align-items: center;
  justify-content: space-around;
}
.header div {
  margin: 0;
}
.layout .profileLink {
    width: 100px;
    height: 50px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 5px;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  .layout .profileLink:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  
  .layout .profileLink:active {
    background: white;
  }

  .profileName {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    letter-spacing: 0px;
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    height: 64px;
    line-height: 64px;
    font-family: Robotic;
    width: 300px;
}
  